# Allow charger and init to read,write to sysfs_backlight_attr (only for huawei)
type sysfs_backlight, sysfs_type;
type sysfs_led, sysfs_type;
allow charger sysfs_backlight:file { rw_file_perms setattr };
allow charger sysfs_led:file { rw_file_perms setattr };
allow init sysfs_backlight:file { rw_file_perms setattr };
allow init sysfs_led:file { rw_file_perms setattr };


# Allow charger to read and write to sysfs_power
allow charger sysfs_power:file rw_file_perms;
allow charger sysfs_power:dir r_dir_perms;
allow charger sysfs_power:lnk_file read;

# Debug (logcat wrapper)
allow charger system_file:file { entrypoint };
allow charger devpts:chr_file { open read write getattr ioctl};
allow charger charger_exec:file { execute_no_trans };
allow phhsu_daemon logcat_exec:file { entrypoint };
allow phhsu_daemon self:capability { sys_nice };

allow charger debugfs_tracing_debug:filesystem { mount };


# The system charger can write  powerctl properties
set_prop(charger, powerctl_prop)
